<div ng-controller="homeCtrl as vm">
    <md-content layout-padding="">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button translate="Mutliple ABX Sender" class="md-raised md-primary" ng-click="vm.gotoState('abxmultiple')" aria-label="Mutliple ABX Sender">Mutliple ABX Sender</md-button>
            <md-button translate="ABX Wizard" class="md-raised md-primary" ng-click="vm.gotoState('abxwizard')" aria-label="ABX Wizard">ABX Wizard</md-button>
        </section>
    </md-content>
</div>